<%= render "partials/menu" %>
<%= render "partials/header" %>


<div class="content">
  <%= render "hero" %>
  <section class="head-section s-about">
    <div class="container">
      <h2 class="head-section__title section-title">РАЗОМ БУДУЄМО НОВУ УКРАЇНУ</h2>
      <div class="head-section__inner">
        <div class="head-section__row">
          <div class="head-section__img">
            <div class="head-section__video">
              <%= image_tag "backgrounds/advantage-bg.jpg" %>
            </div>
            <div class="head-section__mask"></div>
          </div>

          <div class="head-section__content">
            <h3 class="head-section__subtitle"> OLDES — ОДНА З НАЙБІЛЬШИХ БУДІВЕЛЬНИХ КОМПАНІЙ УКРАЇНИ</h3>
            <div class="head-section__text">
              <p>Спеціалізуємось на проектуванні, модернізації та будівництві промислових та комерційних об’єктів. Щороку ми проектуємо та реалізовуємо десятки об’єктів.&nbsp;</p>
              <p>
                <b>OLDES</b>
                компанія повного проектного циклу. Робота із Замовником починається з розробки проекту на стадії ідеї, а завершується здачею об’єкта в експлуатацію.
              </p>
              <p>Команда професіоналів та технологічні можливості дозволяють реалізовувати будь-які амбіційні цілі замовників.</p>
              <p>Ми зацікавлені в успіху кожного клієнта, тому всі наші інженерні рішення чітко розраховані, продумані та розроблені під конкретний проект.</p>
              <p>Наші спеціалісти постійно підвищують свою кваліфікацію, вивчають нові технології в будівництві та реалізовують їх в наших проектах.</p>
            </div>
          </div>
        </div>
        <div class="head-section__row">
          <div class="head-section__img">
            <picture>
              <%= image_tag "backgrounds/services-3.jpg", alt: "OlDES" %>
            </picture>
            <div class="head-section__mask"></div>
          </div>
          <div class="head-section__content">
            <h3 class="head-section__subtitle"> МІСІЯ, МЕТА ТА ЦІННОСТІ</h3>
            <div class="head-section__text">
              <p>
                <b>Хто ми: </b>успішна, надійна компанія з високими стандартами, що реалізує проекти клієнтів від <b> ІДЕЇ </b>до<b> ПРИБУТКУ.</b>
              </p>
              <p><b>Місія: </b> високими стандартами виробництва змінюємо відношення до будівельників</p>
              <p><b>Співробітник</b> — наша найбільша цінність. Ми досягаємо успіху завдяки плідній та злагодженій роботі команди професіоналів.&nbsp;</p>
              <p><b>Клієнтоорієнтованість</b> — ми цінуємо кожного клієнта, тому пропонуємо кращі рішення саме для Вашого проекту.</p>
              <p><b>Успішність</b>— ми ніколи не зупиняємося на досягнутому!</p>
              <p><b>Відповідність високим стандартам </b> — будуємо як для себе! Якість нашої роботи гарантують міжнародні сертифікати та сотні реалізованих проектів.</p>
              <p><b>Постійний розвиток</b> — ми постійно вдосконалюємо свої навички та впроваджуємо ефективні рішення в нові проекти.&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>








  <%= render "services" %>
  <%= render "advantages" %>
</div>