<%= render "partials/menu" %>
<%= render "partials/header" %>

  <div class="content">
    <%= render "hero" %>
    <%= render "about" %>
    <%= render "services" %>
    <%= render "advantages" %>
    <%#= render "news" %>
  </div>









